# From Avida
build
cbuild
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
.DS_Store
wbuild
DerivedData

# Editors
.vscode
pat.txt

# R
.Rhistory

# Python
__pycache__
pyenv/

# Data
data/

# Local scratch directories
experiments/*/analysis/test
local/